* {
    -fx-border-color: magenta;
}

.ligneHaut{
    -fx-alignment: center;
    -fx-min-height: 150;
}
.ligneMilieu{
    -fx-alignment: center;
    -fx-min-height: 600;
}
.ligneBas{
    -fx-alignment: center;
    -fx-min-height: 150;
}






.joueur4{

}
.domino4{

}
.score4{

}
.container_info{
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-min-width: 800;
}
.salon{
    -fx-min-width: 780;
}
.cle{
    -fx-min-width: 780;
}
.joueur3{

}
.domino3{

}
.score3{

}





.desChoisi{
    -fx-min-width: 250;
}
.pouleCommune{
    -fx-min-width: 1420;
}
.desActif{
    -fx-min-width: 250;
}





.joueur2{

}
.domino2{

}
.score2{

}
.lanceDes{
    -fx-min-width: 800;
}
.joueur1{

}
.domino1{

}
.score1{

}





.joueur {
    -fx-min-width: 560;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.domino {
    -fx-min-width: 280;
    -fx-min-height: 200;
    -fx-alignment: center;
}

.score {
    -fx-min-width: 280;
    -fx-min-height: 200;
    -fx-text-alignment: right;
}